@import "tailwindcss";




body{
  text-wrap: balance;
}



@theme{
  --color-background:var(--background);

  --color-primary:var(--primary);
  --color-primary-foreground:var(--primary-foreground);
  --color-primary-background:var(--primary-background);

  --color-secondary:var(--secondary);
  --color-secondary-foreground:var(--secondary-foreground);
  --color-secondary-background:var(--secondary-background);

  --color-border:var(--border);
}


@layer base{
  :root{
    --background: #ffffff;
    --primary: #091235;
    --primary-background: #88a9c3;
    --secondary: 	#2b4257;
    --secondary-foreground: #88a9c3;
    --secondary-background: #88a9c3;
  }
}

@utility my-container{

    width: 100%;

    @media (width >= 40rem /* 640px */) {
        max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
        max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
        max-width: 64rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
        max-width: 80rem /* 1280px */;
    }
    @media (width >= 96rem /* 1536px */) {
        max-width: 96rem /* 1536px */;
    }
  margin-inline: auto;
  padding-inline: 2rem;
  @apply md:max-w-[75%] 

}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
@utility container{
  margin-inline: auto;
  padding-inline: 2rem;
}



@utility shadow-center {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@utility inner-shadow-center {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 30px oklch(100.8% 0.5 100.0/0.4); 
}