@import "tailwindcss";




h1,h2,h3{
  text-wrap: balance;
}



@theme{
  --color-background:var(--background);
  --color-background-foreground:var(--background-foreground);

  --color-primary:var(--primary);
  --color-primary-foreground:var(--primary-foreground);
  --color-primary-background:var(--primary-background);
  --color-primary-background-sub:var(--primary-background-sub);
  --color-hover-primary: var(--hover-primary);

  --color-secondary:var(--secondary);
  --color-secondary-foreground:var(--secondary-foreground);
  --color-secondary-background:var(--secondary-background);
  --color-hover-secondary: var(--hover-secondary);
  

  --color-tertiary:var(--tertiary);
  --color-tertiary-foreground:var(--tertiary-foreground);
  --color-tertiary-background:var(--tertiary-background);
  
  --color-accent:var(--accent);
  --color-accent-foreground:var(--accent-foreground);
  --color-accent-background:var(--accent-background);
  
  --color-neutral-light:var(--neutral-light);
  --color-neutral-mid:var(--neutral-mid);
  --color-neutral-dark:var(--neutral-dark);
  --color-border:var(--border);

  --breakpoint-3xl: 130rem;
  --breakpoint-4xl: 170rem;

}


@layer base{
  :root{
    --background: #0F172A; 
    --background-foreground: #fafbff;

    --primary: #0a1f44 ;
    --primary-foreground: #F9FAFB ;
    --primary-background: #162864;
    --primary-background-sub: #1f357c;
    --hover-primary: #19319e; 

    --secondary: 	#d4af37;
    --secondary-background: #111827;
    --secondary-foreground: #392F1B;
    --hover-secondary: #FFD84D; 

    
    --neutral-light: #F8F6F2;
    --neutral-mid: #b5c5e0; 
    --neutral-dark: #2E2E2E; 
   
    












    
    --tertiary:rgb(255, 255, 255);
    --tertiary-foreground: #000000; 
    --tertiary-background: #3C1361;
    
    --accent: #EAB308; 
    --accent-foreground: #111827; 
    --accent-background: #FFD700; 
  }
}

@utility my-container{

    width: 100%;

    @media (width >= 40rem /* 640px */) {
        max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
        max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
        max-width: 64rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
        max-width: 80rem /* 1280px */;
    }
    @media (width >= 96rem /* 1536px */) {
        max-width: 96rem /* 1536px */;
    }
  margin-inline: auto;
  padding-inline: 2rem;
  @apply md:max-w-[75%] 

}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
@utility container{
  margin-inline: auto;
  padding-inline: 2rem;
}



@utility shadow-center {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@utility inner-shadow-center {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 30px var(--hover-secondary); 
}